
/* 
colure code {
  main colure = 2D3250;
  secound colure = 424769
  third =7077A1
  4th one =F6B17A
} */

body {
  background-image: url(tiles.jpg));
  padding: 50px;
  font-family: 'CustomFont', sans-serif;
  
}
button{
  border: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
 
}
button:hover {
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2); 
}

input{
  border: none;
}

.mbody{
  background-color: darkcyan;
  padding: 20px;
  padding-bottom: 100px;
  padding-top: 50px;
  border-radius: 20px;
  box-shadow: white;
  box-shadow: 5px 5px 10px gray;

 
}


.topbar {
  background-color: #FFDD95;
  border-radius: 20px;
  display: flex;
  padding: 20px 10px 20px 10px;
  margin-top: 0px;
 
  
}


.but1{
  padding: 8px 25px 8px 25px;
  border-radius: 10px;
  margin-left: 10px;
  background-color: #86A7FC;
  margin-left: 20px;
  
}

.but1:hover{
  background-color: #7077A1(120, 120, 255);
}

#username{
border-radius: 10px;
margin-left: 10px;
padding-right: 10px;
margin-right: 10px;
background-color:#d8deff ;
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 

}
.login{
  padding: 8px 25px 8px 25px;
  border-radius: 10px;
  margin-top: 8px;
  margin-left: 50px;
  background-color: #86A7FC;
 
}


.memberbutton {

  margin-top: 10px;
  padding: 15px 30px 15px 30px;
  border-radius: 10px;
  background-color: #F0EDCF;

}


.memberbutton:hover {

  margin-top: 10px;
  padding: 15px 30px 15px 30px;
  border-radius: 10px;
  background-color: #fff8b0;

}

.memberbuttontext{
 color: rgb(22, 22, 22);
 font-size: 16px;
 font-weight: 700;
}

.mesagename {
  font-weight: bold;
}

.messgebody{
  background-color: aliceblue;
  margin-left: 30px;
  border-radius: 20px;
  padding-bottom: 30px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  height: 500px;
  max-height: 500px;

}

.msg_time {
  position: absolute;
  left: 0;
  bottom: -15px;
  color: rgb(0, 153, 255);
  font-size: 10px;
}

.msg_time_send {
  position: absolute;
  right: 0;
  bottom: -15px;
  color: rgb(0, 153, 255);
  font-size: 10px;
}

.msg_cotainer {
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 10px;
  border-radius: 25px;
  background-color: #82ccdd;
  padding: 10px;
  position: relative;
}

.msg_cotainer_send {
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 10px;
  border-radius: 25px;
  background-color: #78e08f;
  padding: 10px;
  position: relative;
}

.secoundbody{
  padding-top: 40px;
  padding-bottom: 50px;
  max-height: ;
}

.sendmessage{
  margin-right: 130px;

}

.sendmessgebutton{
  border-radius: 10px;
  background-color: #3468C0;
  width: 75px;
}

.inputsend{
border-radius: 10px;
margin-left: 10px;
padding-right: 10px;
margin-right: 10px;
background-color:#d8deff ;
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
max-width: 65%;
width: 65%;
}

.inputsend:hover{
box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.sendmessgetext{
color: rgb(255, 255, 255);
font-size: 16px;
font-weight: 700;
}
.messgebody::-webkit-scrollbar{
width: 1em;
}
.messgebody::-webkit-scrollbar-track{
background:hsl(120 75% 50% / 1);
}
.messgebody::-webkit-scrollbar-thumb{
background: hsl(120 100% 10% / 1) ;

body {
    background-color: #ffffff;
    padding: 50px;
    font-family: 'CustomFont', sans-serif;
    
  }
  button{
    border: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
   
  }
  button:hover {
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2); 
  }

  input{
    border: none;
  }

  .mbody{
    background-color: darkcyan;
    padding: 20px;
    padding-bottom: 100px;
    padding-top: 50px;
    border-radius: 20px;
    box-shadow: white;
    box-shadow: 5px 5px 10px gray;
 
   
  }
  

  .topbar {
    background-color: #FFDD95;
    border-radius: 20px;
    display: flex;
    padding: 20px 10px 20px 10px;
    margin-top: 0px;
   
    
  }

 
  .but1{
    padding: 8px 25px 8px 25px;
    border-radius: 10px;
    margin-left: 10px;
    background-color: #86A7FC;
    margin-left: 20px;
    
  }

  .but1:hover{
    background-color: #7077A1(120, 120, 255);
  }

  .memberbutton {

    margin-top: 10px;
    padding: 15px 30px 15px 30px;
    border-radius: 10px;
    background-color: #F0EDCF;

  }

  
  .memberbutton:hover {

    margin-top: 10px;
    padding: 15px 30px 15px 30px;
    border-radius: 10px;
    background-color: #fff8b0;

  }

  .memberbuttontext{
   color: rgb(22, 22, 22);
   font-size: 16px;
   font-weight: 700;
  }

  .mesagename {
    font-weight: bold;
}

  .messgebody{
    background-color: aliceblue;
    margin-left: 30px;
    border-radius: 20px;
    padding-bottom: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    height: 400px;
    max-height: 400px;

  }

  .msg_time {
    position: absolute;
    left: 0;
    bottom: -15px;
    color: rgb(0, 153, 255);
    font-size: 10px;
  }

  .msg_time_send {
    position: absolute;
    right: 0;
    bottom: -15px;
    color: rgb(0, 153, 255);
    font-size: 10px;
  }

  .msg_cotainer {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 10px;
    border-radius: 25px;
    background-color: #82ccdd;
    padding: 10px;
    position: relative;
  }
  
  .msg_cotainer_send {
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 10px;
    border-radius: 25px;
    background-color: #78e08f;
    padding: 10px;
    position: relative;
  }

  .secoundbody{
    padding-top: 40px;
    padding-bottom: 50px;
  }

  .sendmessage{
    margin-right: 130px;

  }

  .sendmessgebutton{
    border-radius: 10px;
    background-color: #3468C0;
  }

.inputsend{
  border-radius: 10px;
  margin-left: 10px;
  padding-right: 10px;
  margin-right: 10px;
  background-color:#d8deff ;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.inputsend:hover{
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.sendmessgetext{
  color: rgb(255, 255, 255);
  font-size: 16px;
  font-weight: 700;
}
